// -----------------------------------------------------------------------------
// Styles for buttons
// -----------------------------------------------------------------------------

.btn {
  padding: 0;
  border: none;
  border-radius: 0;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &--primary {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 400;
    color: $color-primary;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $color-primary;

    &:hover {
      color: $color-black;
      background-color: $color-primary;
    }

    @include media-breakpoint-up(xl) {
      padding: 15px 40px;
    }
  }

  &--secondary {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 800;
    color: $color-white;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $color-primary;
    background-color: $color-primary;

    &:hover {
      color: $color-primary;
      background-color: $color-white;
    }

    @include media-breakpoint-up(xl) {
      padding: 15px 40px;
    }
  }

  &--link {
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 600;
    color: $gray-900;
    letter-spacing: 1px;
    line-height: 1.1;
    text-transform: uppercase;

    &:hover {
      color: $color-primary;
    }
  }
}