// -----------------------------------------------------------------------------
// Style for hero slider
// -----------------------------------------------------------------------------

.hero-slider {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background-color: $color-gray;
    position: absolute;
  }

  &__inner {
    &:hover {
      .slick {
        &-arrow {
          opacity: 1;
        }
      }
    }
  }

  &__item {
    position: relative;
  }

  &__caption {
    width: 100%;
    top: 50%;
    left: 0;
    padding: 20px 25px;
    color: $color-white;
    position: absolute;
    transform: translateY(-50%);

    @include media-breakpoint-up(sm) {
      padding: 20px 45px;
    }

    @include media-breakpoint-up(md) {
      width: 70%;
      padding: 20px 0 20px 60px;
    }

    @include media-breakpoint-up(xl) {
      width: 38%;
    }

    &-title {
      * {
        margin-bottom: 0;
        font-family: $font-secondary;
        font-size: 28px;
        font-weight: 600;
        color: $color-white;
        line-height: 1.1;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
          font-size: 35px;
        }

        @include media-breakpoint-up(lg) {
          font-size: 40px;
        }

        @include media-breakpoint-up(xxl) {
          font-size: 50px;
        }

        @include media-breakpoint-up(fhd) {
        }
      }
    }

    &-text {
      margin-top: 15px;

      @include media-breakpoint-up(xxl) {
        max-width: 430px;
        margin-top: 20px;
      }

      *:not(a) {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;

        &:last-child {
          margin-bottom: 0;
        }

        @include media-breakpoint-up(md) {
          font-size: 20px;
        }

        @include media-breakpoint-up(lg) {
          font-size: 22px;
        }

        @include media-breakpoint-up(xxl) {
          font-size: 24px;
        }

        @include media-breakpoint-up(fhd) {
          font-size: 28px;
        }
      }
    }

    &-btn {
      margin-top: 30px;

      @include media-breakpoint-up(lg) {
        margin-top: 40px;
      }

      @include media-breakpoint-up(xxl) {
        margin-top: 50px;
      }

      @include media-breakpoint-up(fhd) {
        margin-top: 60px;
      }
    }
  }

  &__buttons {
    margin-top: 10px;

    @include media-breakpoint-up(lg) {
      margin-top: 20px;
    }

    @include media-breakpoint-up(xxl) {
      margin-top: 30px;
    }

    @include media-breakpoint-up(fhd) {
      margin-top: 40px;
    }

    .btn {
      min-width: 150px;
      margin-top: 20px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__img {
    height: 400px;
    object-fit: cover;

    @include media-breakpoint-up(md) {
      height: 420px;
    }

    @include media-breakpoint-up(lg) {
      height: 520px;
    }

    @include media-breakpoint-up(xl) {
      height: 620px;
      object-position: left center;
    }

    @include media-breakpoint-up(xxl) {
      height: 700px;
    }

    @include media-breakpoint-up(fhd) {
      height: 920px;
    }
  }

  .slick {
    &-arrow {
      width: 40px;
      height: 50px;
      top: 50%;
      padding: 0;
      font-size: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      opacity: 0;
      position: absolute;
      z-index: 1;
      transform: translateY(-50%);
      transition: opacity 0.3s ease-in-out;

      &::before {
        content: "";
        width: 16px;
        height: 16px;
        top: 17px;
        border: 2px solid $color-primary;
        border-bottom: none;
        position: absolute;
        transition: opacity 0.3s ease-in-out;
      }

      &:hover {
        &::before {
          border-color: $color-black;
        }
      }

      @include media-breakpoint-up(xl) {
        width: 50px;
      }

      &.slick-disabled {
        opacity: 0 !important;
      }
    }

    &-prev {
      left: 0;

      &::before {
        left: 15px;
        border-right: none;
        transform: rotate(-45deg);

        @include media-breakpoint-up(xl) {
          left: 20px;
        }
      }
    }

    &-next {
      right: 0;

      &::before {
        right: 15px;
        border-left: none;
        transform: rotate(45deg);

        @include media-breakpoint-up(xl) {
          right: 20px;
        }
      }
    }

    &-dots {
      left: -30px;
      bottom: 15px;
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      position: absolute;
      transform: rotate(-90deg);
      transform-origin: left top;

      @include media-breakpoint-up(xxl) {
        left: -35px;
      }

      li {
        &::before {
          display: none;
        }

        &:nth-child(n + 10) {
          button {
            &::before {
              content: none;
            }
          }
        }

        button {
          padding: 5px;
          font-family: $font-secondary;
          font-size: 16px;
          font-weight: 600;
          color: $black;
          line-height: 1;
          border: none;
          background-color: transparent;
          cursor: pointer;
          position: relative;
          transition: all 0.3s ease-in-out;

          &::before {
            content: "0";
          }

          &::after {
            content: "";
            width: 20px;
            height: 1px;
            right: 0;
            bottom: 8px;
            background-color: $color-black;
            opacity: 0;
            position: absolute;
            transition: opacity 0.3s ease-in-out;
          }
        }

        &.slick-active {
          button {
            padding-right: 25px;

            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}